.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer{
  flex: 1 1 auto;
}

mat-toolbar a {
 display: inline;
 margin: 0 10px;
 text-decoration: none;
 color: white;
}

mat-toolbar mat-button-toggle {
  color: white;
}

mat-toolbar a:hover {
  color: black;
 }

 .btn-menu {
   padding: 0 2px;
 }

 #dcf-home a:hover {
   background-color: none;
   color: white;
 }

 /* selected link
 #dcf-home a:active {
  color: none;
} */