<app-main-nav>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<div>
  <button mat-raised-button color="primary" matBadeColor="black" (click)="onToggle()">Ocultar Toggle</button>
  <ul *ngIf="mostrar">
    <li *ngFor="let cliente of Clientes" (click)="onSelected(cliente)"> 
      <a mat-list-item href="#"> cliente {{cliente.id}} </a>
       <!-- {{cliente.id}} -->
    </li>
  </ul> 
</div>
<div>
  <ul *ngIf="!mostrar">
    <li *ngFor="let index of lista">
       <a mat-list-item href="#">Opcion {{index}}</a>
    </li>
  </ul>
</div>

<div [ngSwitch]="selection">
  <div *ngSwitchCase="Clientes[0]">Has elegido {{selection}}</div>
  <div *ngSwitchCase="Clientes[1]">Has elegido {{selection}}</div>
  <div *ngSwitchCase="Clientes[2]">Has elegido {{selection}}</div>
  <div *ngSwitchDefault>Has elegido {{selection}}</div>
</div>

<div>
  
    <input type="checkbox" name="" id="" (change)="checkedOPc = !checkedOPc">
    <br>
    <div class="cuadrado" [ngClass]="{secundario: !checkedOPc}"></div>
    <br>
    <div class="cuadrado" [ngClass]="{'secundario grande': checkedOPc}"></div>
  

    <br>
    <input type="checkbox"  (change)="checkedColor = !checkedColor"> Cambiar Color
    <br>
    <input type="checkbox"  (change)="checkedGrande = !checkedGrande"> Cambiar Tamaño
    <br>
    <div class="cuadrado" [ngClass]="{secundario: checkedColor}"></div>
    <br>
    <div class="cuadrado" [ngClass]="{'secundario': checkedColor, 'grande':checkedGrande}"></div>
</div>
<div>
  <br><br>
  <input type="number" name="" (input)="modificarWH= $event.target.value" value="100"> Cambiar Tamaño
  <br><br>
  <div class="cuadrado" [ngStyle]="{'background-color': checkedColor ? 'green':'yellow', 'width': modificarWH + 'px', 'height': modificarWH + 'px'}"></div>

  <br><br>
</div>
<router-outlet></router-outlet>
</app-main-nav> 